* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    background-color: #040040;
    max-width: 600px;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #040040;
    padding: 20px;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}
.brandName {
    color: white;
    font-family: monospace;
    font-style: oblique;
}
.mobileNav {
    display: none;
    position: fixed;
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    padding: ;
}
.mobileNav ul {
    
}
.mobileNav ul li {
    padding: 20px 0;
    margin: 15px 0;
}
.mobileNav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 500;
}
.desktopNav {
    display: none;
}
.hamburger {
    cursur: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    transition: all 5s;
} 
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: white;
    transform: rotate(0deg);
    transition: all .25s;
}  
.hamburger-middle {
   transform: translateY(7px);
}
.hamburger-bottom {
   transform: translateY(14px);
}
.open {
    transform: rotate(180deg);
    transform: translateY(0px);
}
.open .hamburger-top {
    transform: 
        rotate(45deg) 
        translateY(6px) 
        translate(6px)
        ;
}
.open .hamburger-bottom {
    transform: 
        rotate(-45deg)
        translateY(6px)
        translate(-6px)
        ;
}
.open .hamburger-middle {
    display: none;
}


.hero img {
    width: 100%;
}